<!-- this links to specific js file --> 
<% javascript_include_tag "/javascripts/user_wines_show/user_wines.js" %>

<div class="backLink">	
	<%= link_to 'back to wines', user_wines_path %>
</div>

<%= render "/partials/show_wine" %>

<button id='addNoteButton'>Add note</button>

<h5>To drink: <%= @quantity %></h5>

<div class="notesArea">

	<div id="newNoteForm">

	<%= render "/partials/new_note_form" %>

	</div>

	<%= render "/partials/show_notes" %>

</div>