<% @wines.each do |wine| %>
	
<% full_name = "#{wine.producer} #{wine.name} #{wine.vintage}"	%>

<% quantity = wine.bottles.count %>

<div class="row">
	
	<div class="large-12 medium-12 small-12 columns">

		<table>
			<!-- <tr>
				<th>Producer</th>
				<th>Name</th>
				<th>Producer</th>
				<th>Name</th>
				<th>Producer</th>
				<th>Name</th>
			</tr> -->

			<tr>
				<td><%= image_tag("http://akamai.bbr.com/images/products/25601.jpg", size: "80x50") %></td>
				<td>
					<% if controller_name == "user_wines" %>
						
						<%= link_to full_name, user_wine_path(wine) %>

					<% elsif controller_name == "wines" %>

						<%= link_to full_name, wine %>

					<% end %>
				</td>
				<td><%= quantity %></td>
				<td><%= link_to 'notes' %></td>
			</tr>
		</table>

	</div>

</div>

<% end %>