<div class="row">
	<div class="large-12 medium-12 small-12 columns">
		<table>
			<thead>
			    <tr>
			    	<th width="50">Colour</th>
		      	<th width="150">Name</i> </th>
		      	<th width="100">Region</th>
		      	<th width="100">Country</th>
		      	<th width="100">Drinking window</th>
		      	<th width="50">In cellar</th>
			    </tr>
			</thead>

			<tbody>
			<% @wines.each do |wine| %>	
			<% full_name = "#{wine.producer} #{wine.name} #{wine.vintage}"	%>
			<% quantity = wine.bottles.where(:user => current_user, :drunk => false).count %>
				<tr>
					<td><%= image_tag("http://akamai.bbr.com/images/products/25601.jpg", size: "50x30") %></td>
					<td>
						<% if controller_name == "user_wines" %>
							
							<%= link_to full_name, user_wine_path(wine) %>

						<% elsif controller_name == "wines" %>

							<%= link_to full_name, wine %>

						<% end %>
					</td>
					<td><%= wine.region %></td>
					<td><%= wine.country %></td>
					<td class="window"><%= "#{wine.window_start}–#{wine.window_end}" %></td>
					<td class="quantity"><%= quantity %></td>
				</tr>
			<% end %>		
			</tbody>
		</table>
	</div>
</div>	