<%= render "/partials/show_wine" %>

<div class="row">
	
	<div class="large-12 medium-12 small-12 columns">

		<table>
			
			<tr>
				<td class="noteCategory">appearance</td><td class="noteCopy"><%= @note.appearance %></td>
			</tr>
			<tr>
				<td class="noteCategory">nose</td><td class="noteCopy"><%= @note.nose %></td>
			</tr>
			<tr>
				<td class="noteCategory">palate</td><td class="noteCopy"><%= @note.palate %></td>
			</tr>
			<tr>
				<td class="noteCategory">conclusion</td><td class="noteCopy"><%= @note.conclusion %></td>
			</tr>
			<tr>
				<td class="noteCategory">maturity</td><td class="noteCopy"><%= @note.maturity %></td>
			</tr>
			<tr>
				<td class="noteCategory">rating</td><td class="noteCopy"><%= @note.rating %></td>
			</tr>
			
		</table>

		<% if controller_name == "user_notes" %>
			
			<td><%= link_to 'edit' %></td>

		<% end %>

		

	</div>

</div>