<div class="small-3 columns">
	<img class="showImage" src="http://akamai.bbr.com/images/products/25601.jpg"/>
</div>
<div class="small-6 columns">
	<div class="wineDetails">
		<h3 class="wineName"><%= @wine.producer %></h3>
		<h3 class="wineName"><%= "#{@wine.name} #{@wine.vintage}" %></h3>
		<p class = "wineSpec"><a><%= @wine.style %></a>
			
			 |
		
		<a><%= @wine.alcohol %>%</a>
			
			 |
	
		<a><%= @wine.region %></a>
			
			 |
	
		<a><%= @wine.country %></a>
		
		|
		
		<a><%= @wine.grape %></a>
			
			 |
	
		<a><%= "#{@wine.window_start}–#{@wine.window_end}" %></a>
		</p>
	</div>
</div>






